<main
    class="relative z-0 top-12 sm:top-20 h-[calc(100dvh-3rem)] sm:h-[calc(100vh-5rem)] overflow-y-auto w-full flex flex-col items-center no-scrollbar pb-40"
    data-lenis-prevent
>
    <div
        class="fixed top-12 sm:top-20 bottom-0 left-0 right-0 bg-(--color-background-light) bg-dots -z-10 pointer-events-none"
    >
        <div
            class="absolute inset-0 bg-linear-to-t from-(--color-background-light) via-(--color-background-light)/1 to-transparent"
        >
        </div>
        <div
            class="absolute inset-0 bg-linear-to-b from-(--color-background-light) via-(--color-background-light)/10 to-transparent"
        >
        </div>
    </div>

    <div class="w-full flex flex-col items-center gap-16">
        @if (!isAuthenticated()) {
        <div
            class="w-full flex flex-col sm:flex-row justify-center items-center flex-1 px-[5vw] sm:gap-[5vw] min-h-[calc(100vh-8.5rem)] py-10 sm:py-0"
        >
            <div class="w-[50vw] flex flex-col items-center">
                <img src="assets/svgs/logo.svg" alt="" class="w-15">
                <h1
                    class="w-fit text-center text-[clamp(2rem,5vw,4rem)] font-bold"
                >
                    Cinema. Unleashed.
                </h1>
                <h2
                    class="text-(--color-gray) w-full md:w-[80%] text-center sm:text-left text-[clamp(1rem,2vw,1.2rem)] font-normal"
                >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repudiandae rerum est tempora at, sit eius recusandae natus
                    unde odit pariatur.
                </h2>
                <app-button
                    label="Explore"
                    class="my-5"
                    (click)="onExplore()"
                ></app-button>
            </div>
            <div
                class="scale-90 sm:scale-100 min-w-[300px] w-[20vw] relative aspect-2/3 self-center flex items-center justify-center"
            >
                @for (film of mockFilms; track film.id) {
                <app-swipe-card
                    [film]="film"
                    [genres]="mockGenres"
                    [isTop]="false"
                    [showBg]="true"
                    class="landing-card absolute top-0 left-0 w-full h-full pointer-events-none origin-bottom-right"
                ></app-swipe-card>
                }
            </div>
        </div>

        <section
            class="features-section container-padding flex-col items-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 w-[60vw] md:w-[80vw] lg:w-[80vw]"
        >
            @for (item of [1,2,3]; track $index) {
            <app-card-features></app-card-features>
            }
        </section>
        } @else {
        <div
            class="h-[calc(100vh-2.5rem)] w-full flex flex-col gap-6 p-2 sm:p-4"
        >
            <app-film-carousel
                title="Recently Popular"
                [films]="films()"
                [loading]="loadingNextPage()"
                [hasMore]="hasMorePages()"
                (nearEnd)="loadNextPage()"
                class="flex-1 min-h-0 flex flex-col"
            >
            </app-film-carousel>

            <app-film-carousel
                title="Top Rated"
                [films]="films()"
                [loading]="loadingNextPage()"
                [hasMore]="hasMorePages()"
                (nearEnd)="loadNextPage()"
                class="flex-1 min-h-0 flex flex-col"
            >
            </app-film-carousel>
        </div>
        }
    </div>
</main>
