<div class="fixed top-0 left-0 w-full z-7 flex flex-col bg-(--color-background)">
  <header
    class="w-full py-[1vh] sm:py-[2.5vh] px-3 sm:px-8 grid grid-cols-2 sm:grid-cols-3 items-center"
  >
    <a
      routerLink="/index"
      class="relative flex w-fit items-center gap-2 px-2 -ml-2 sm:px-0 sm:py-0 sm:ml-0 rounded-lg overflow-hidden sm:overflow-visible"
      (click)="animateClick($event)"
    >
      <div
        class="ripple-layer absolute inset-0 bg-(--color-gray) opacity-0 pointer-events-none rounded-lg sm:hidden"
      ></div>
      <span class="relative z-1 font-extrabold text-lg sm:text-xl">flip</span>
      <img src="assets/svgs/logo.svg" alt="" class="relative z-1 w-8 h-8" />
    </a>

    <nav class="hidden sm:block">
      <ul
        class="flex justify-center gap-[4vw] lg:gap-[3vw] font-bold items-center text-[clamp(0.8rem,1vw,1rem)]"
      >
        @if (isAuthenticated()) {
          <li>
            <a
              class="hover:text-(--color-wine-red) transition-colors duration-200"
              routerLink="/swipe"
              routerLinkActive="text-(--color-wine-red)"
              >Swipe</a
            >
          </li>
          <li>
            <a
              class="hover:text-(--color-wine-red) transition-colors duration-200"
              routerLink="/films"
              routerLinkActive="text-(--color-wine-red)"
              >Films</a
            >
          </li>
          <li>
            <a
              class="hover:text-(--color-wine-red) transition-colors duration-200"
              routerLink="/watchlist"
              routerLinkActive="text-(--color-wine-red)"
              >Watchlist</a
            >
          </li>
          <li>
            <a
              class="hover:text-(--color-wine-red) transition-colors duration-200"
              routerLink="/trees"
              routerLinkActive="text-(--color-wine-red)"
              >Trees</a
            >
          </li>
        } @else {
          <li>
            <a
              class="hover:text-(--color-wine-red) transition-colors duration-200"
              routerLink="/films"
              routerLinkActive="text-(--color-wine-red)"
              >Films</a
            >
          </li>
        }
      </ul>
    </nav>

    <nav class="h-full">
      <ul
        class="flex gap-5 sm:gap-[2vw] justify-end font-bold items-center h-full text-[clamp(0.8rem,1vw,1rem)]"
      >
        <li class="hidden md:flex h-full">
          <app-theme-toggle></app-theme-toggle>
        </li>
        @if (!isAuthenticated()) {
          <li
            class="relative flex gap-2 items-center hover:text-(--color-wine-red) cursor-pointer group transition-colors duration-200 py-1 px-2 -mx-1 sm:p-0 sm:mx-0 rounded-lg overflow-hidden sm:overflow-visible"
            routerLinkActive="text-(--color-wine-red)"
            (click)="animateClick($event)"
          >
            <div
              class="ripple-layer absolute inset-0 bg-(--color-gray) opacity-0 pointer-events-none rounded-lg sm:hidden"
            ></div>
            <a
              routerLink="/auth/login"
              routerLinkActive="text-(--color-wine-red)"
              class="relative z-1"
              >Login</a
            >
          </li>
          <li
            class="relative flex gap-2 items-center hover:text-(--color-wine-red) cursor-pointer group transition-colors duration-200 py-1 px-2 -mx-1 sm:p-0 sm:mx-0 rounded-lg overflow-hidden sm:overflow-visible"
            routerLinkActive="text-(--color-wine-red)"
            (click)="animateClick($event)"
          >
            <div
              class="ripple-layer absolute inset-0 bg-(--color-gray) opacity-0 pointer-events-none rounded-lg sm:hidden"
            ></div>
            <a
              routerLink="/auth/signup"
              routerLinkActive="text-(--color-wine-red)"
              class="relative z-1"
              >Register</a
            >
          </li>
        } @else {
          <li
            class="relative cursor-pointer flex flex-reverse items-center gap-2 sm:gap-3 pointer-events-auto sm:pointer-events-none h-full py-0.5 px-2 sm:p-0 -mr-2 rounded-lg"
            (click)="toggleOverlay($event)"
          >
            <div
              class="ripple-layer absolute inset-0 bg-(--color-gray) opacity-0 rounded-lg pointer-events-none"
            ></div>
            <span class="relative z-1">{{ username }}</span>
            <div
              class="relative z-1 aspect-square rounded-full h-full bg-(--color-wine-red) flex justify-center items-center"
            >
              <svg lucideUser size="15" class="text-white hidden sm:block"></svg>
            </div>
          </li>
          <li class="hidden sm:block">
            <a
              (click)="signOut()"
              class="cursor-pointer hover:text-(--color-wine-red) transition-colors duration-200 text-(--color-text)"
              >Logout</a
            >
          </li>
        }
      </ul>
    </nav>
  </header>
  <app-separator></app-separator>
</div>

@if (isLoading()) {
  <div
    class="fixed top-[calc(32px+2vh)] sm:top-[calc(32px+5vh)] left-0 h-1 w-full bg-(--color-wine-dark) overflow-hidden z-10"
  >
    <div
      class="absolute top-0 bottom-0 left-0 bg-(--color-wine-light) shadow-[0_0_8px_var(--color-wine-light)] rounded-r-full transition-all duration-200 ease-out"
      [style.width.%]="progress()"
    ></div>
  </div>
}

<app-new-header-overlay
  [isOpen]="isOverlayVisible()"
  (close)="hideOverlay()"
  (signedOut)="signOut()"
>
</app-new-header-overlay>
