<div
  class="fixed top-0 left-0 w-full z-6 flex flex-col bg-(--color-background)"
>
  <header
    class="
      w-full py-6 px-8
      grid grid-cols-2 sm:grid-cols-3 items-center
    "
  >
    <a routerLink="/dashboard" class="flex items-center gap-2">
      <span class="font-extrabold text-xl">flip</span>
      <img src="assets/svgs/logo.svg" alt="" class="w-8 h-8">
    </a>

    <nav class="hidden sm:block">
      <ul
        class="flex justify-center gap-[4vw] lg:gap-[3vw] font-bold items-center"
      >
        @if (isAuthenticated()) {
        <li>
          <a routerLink="/swipe" routerLinkActive="text-(--color-wine-red)"
          >Swipe</a>
        </li>
        <li>
          <a routerLink="/films" routerLinkActive="text-(--color-wine-red)"
          >Films</a>
        </li>
        <li>
          <a routerLink="/watchlist" routerLinkActive="text-(--color-wine-red)"
          >Watchlists</a>
        </li>
        <!-- <li><a routerLink="/trees" routerLinkActive="text-(--color-wine-red)">Trees</a></li> -->
        } @else {
        <li>
          <a routerLink="/films" routerLinkActive="text-(--color-wine-red)"
          >Films</a>
        </li>
        }
      </ul>
    </nav>

    <nav class="h-full">
      <ul class="flex gap-[2vw] justify-end font-bold items-center h-full">
        <li
          class="hidden md:flex rounded-md bg-(--color-gray-dark) border border-(--color-gray)/20 gap-1 h-full p-0.5"
        >
          <button
            class="rounded-md aspect-square flex justify-center items-center p-1 transition-colors duration-200"
            [class.bg-(--color-wine-red)]="currentTheme() === 'light'"
            (click)="toggleTheme()"
          >
            <svg
              lucideSun
              size="16"
              class="hidden sm:block"
              [class.text-(--color-background)]="currentTheme() === 'light'"
            >
            </svg>
          </button>
          <button
            class="rounded-md aspect-square flex justify-center items-center p-1 transition-colors duration-200"
            [class.bg-(--color-wine-red)]="currentTheme() === 'dark'"
            (click)="toggleTheme()"
          >
            <svg
              lucideMoon
              size="16"
              class="hidden sm:block"
              [class.text-(--color-background)]="currentTheme() === 'dark'"
            >
            </svg>
          </button>
        </li>
        @if (!isAuthenticated()) {
        <li class="">
          <a routerLink="/auth/login" routerLinkActive="text-(--color-wine-red)"
          >Login</a>
        </li>
        <li>
          <a
            routerLink="/auth/signup"
            routerLinkActive="text-(--color-wine-red)"
          >Register</a>
        </li>
        } @else {
        <li
          class="cursor-pointer flex flex-reverse items-center gap-3 pointer-events-auto sm:pointer-events-none"
          (click)="toggleOverlay()"
        >
          {{ username }}
          <div
            class="aspect-square rounded-full w-7 sm:w-8 bg-(--color-wine-red) flex justify-center items-center"
          >
            <svg
              lucideUser
              size="15"
              class="hidden sm:block text-white"
            >
            </svg>
          </div>
        </li>
        <li class="hidden sm:block">
          <a (click)="signOut()" class="cursor-pointer">Logout</a>
        </li>
        }
      </ul>
    </nav>
  </header>
  <app-separator></app-separator>
</div>

@if(isOverlayVisible()) {
<app-separator class="fixed top-20 z-7 sm:hidden"></app-separator>
<div
  class="top-20 fixed w-screen h-screen bg-(--color-background)/80 z-6 p-5 backdrop-blur-sm sm:hidden"
  (click)="hideOverlay()"
>
  <div
    class="flex flex-col items-end w-full"
    (click)="$event.stopPropagation()"
  >
    <ul
      class="flex flex-col justify-center gap-[4vw] lg:gap-[3vw] font-bold items-end w-full px-2"
    >
      @if (isAuthenticated()) {
      <li>
        <a
          routerLink="/swipe"
          routerLinkActive="text-(--color-wine-red)"
          class="duration-200 p-2 hover:border-b-(--color-wine-red) border-b-2 border-b-transparent transition-colors"
        >Swipe</a>
      </li>
      <li>
        <a
          routerLink="/films"
          routerLinkActive="text-(--color-wine-red)"
          class="duration-200 p-2 hover:border-b-(--color-wine-red) border-b-2 border-b-transparent transition-colors"
        >Films</a>
      </li>
      <li>
        <a
          routerLink="/watchlist"
          routerLinkActive="text-(--color-wine-red)"
          class="duration-200 p-2 hover:border-b-(--color-wine-red) border-b-2 border-b-transparent transition-colors"
        >Watchlists</a>
      </li>
      <li>
        <a
          routerLink="/trees"
          routerLinkActive="text-(--color-wine-red)"
          class="duration-200 p-2 hover:border-b-(--color-wine-red) border-b-2 border-b-transparent transition-colors"
        >Trees</a>
      </li>
      <li>
        <a
          (click)="signOut()"
          class="text-(--color-wine-red) cursor-pointer duration-200 p-2"
        >Log out</a>
      </li>
      } @else {
      <li>
        <a
          routerLink="/films"
          routerLinkActive="text-(--color-wine-red)"
          class="p-2"
        >Films</a>
      </li>
      }
    </ul>
  </div>
</div>
}
