<app-sidebar
  title="Filters"
  position="left"
  variant="responsive"
  [isOpen]="isVisibleSidebar"
  [hasNotification]="localGenres.length > 0 || localYear !== null"
  (toggle)="onToggleSidebar()"
  (close)="onToggleSidebar()"
>
  <div
    class="flex flex-col gap-3 sm:gap-[1.5vh] p-3 sm:p-[1.5vh] h-full overflow-y-auto no-scrollbar pb-12"
  >
    @if (genres().length > 0) {
      <div class="flex flex-col gap-2 sm:gap-[1.5vh]">
        <p class="font-semibold">Genres</p>
        <ul class="flex flex-wrap relative gap-1.5 sm:gap-2 text-[clamp(0.8rem,0.8vw,1.2rem)]">
          @for (genre of genres(); track $index) {
            <li
              class="flex justify-center items-center cursor-pointer text-(--color-gray) transition-color duration-200 group hover:text-(--color-text)/80"
            >
              <span
                (click)="toggleGenre(genre.id)"
                class="px-3 py-1 rounded-full border transition-color duration-200 bg-(--color-background)"
                [ngClass]="
                  localGenres.includes(genre.id)
                    ? 'bg-(--color-wine-red) text-white border-(--color-wine-red)'
                    : 'group-hover:border-(--color-border-hover) border-(--color-gray-dark)'
                "
              >
                {{ genre.name }}
              </span>
            </li>
          }
        </ul>
      </div>
    }

    <div class="rounded-sm flex flex-col gap-2 sm:gap-[1.5vh]">
      <p class="font-semibold">Release Date</p>
      <app-year-picker
        [selectedYear]="localYear"
        (selectedYearChange)="onYearChange($event)"
        (yearReset)="onYearChange(null)"
      ></app-year-picker>
    </div>

    <div class="flex w-full gap-2 items-stretch h-10">
      <app-button
        label="Apply Filters"
        size="w-full"
        class="w-full"
        (click)="onApply()"
      ></app-button>
      <button
        type="button"
        (click)="onClear()"
        class="bg-(--color-background) border border-(--color-gray-dark) rounded-sm text-(--color-gray) cursor-pointer transition-colors duration-200 font-bold text-[clamp(0.7rem,0.9vw,1rem)] px-3 hover:text-(--color-text)/80 hover:border-(--color-border-hover)"
      >
        Clear
      </button>
    </div>
  </div>
</app-sidebar>
