<button
  (click)="onClick($event)"
  class="md:hidden fixed z-3 bottom-22 sm:bottom-8 right-4 sm:right-12 bg-(--color-background) border border-(--color-gray-dark) flex justify-center items-center cursor-pointer text-(--color-text) transition-color duration-200 aspect-square rounded-full w-15 shrink-0 font-bold"
>
  <div
    class="ripple-layer absolute inset-0 bg-(--color-gray) opacity-0 pointer-events-none rounded-full"
  ></div>
  @if (hasActiveFilters()) {
    <span
      class="absolute top-0 right-0 bg-(--color-wine-red) w-3 flex items-center justify-center rounded-full aspect-square"
    ></span>
  }

  @if (isVisibleSidebar()) {
    <svg lucideX size="25"></svg>
  } @else {
    <svg lucideListFilter size="25"></svg>
  }
</button>
