<app-separator class="relative top-25"></app-separator>
<div class="grid grid-cols-[20vw_1fr] relative top-25 min-h-[calc(100vh-6.5rem)]">
    <aside class="flex flex-col border-r border-(--color-gray)/20 relative">
        <p class="font-bold text-lg p-3">Filters</p>
        <app-separator></app-separator>

        <div class="flex flex-col gap-5 p-3">
            <div class="flex flex-col gap-2">
                <p class="font-semibold">Genres</p>
                <ul class="flex flex-wrap relative gap-x-2 gap-y-3">
                    @for (genre of genres(); track $index) {
                    <li
                        class="cursor-pointer text-(--color-gray)/80 transition-color duration-150 group hover:text-(--color-text)/80">
                        <span
                            class="px-3 py-1 rounded-full border border-(--color-gray)/20 group-hover:border-(--color-gray)/50 transition-color duration-150">{{
                            genre.name }}</span>
                    </li>
                    }
                    <!-- <li class="cursor-pointer">
                        <label class="flex items-center gap-2 w-full cursor-pointer">
                            <input type="checkbox">
                            <span>Drama</span>
                        </label>
                    </li> -->
                </ul>
            </div>

            <div class="rounded-lg flex flex-col gap-2">
                <p class="font-semibold">Release Date</p>
                <app-year-picker [(selectedYear)]="selectedYear" />
            </div>

            <app-button label="Apply Filters" size="w-full"></app-button>
        </div>
    </aside>

    <section class="flex flex-col gap-5 p-5 overflow-auto">
        <div class="flex justify-between items-center">
            <div class="flex gap-4 items-center">
                <h4 class="w-fit font-bold text-xl">Recently Popular</h4>
                <div class="flex rounded-md gap-2 min-w-[400px] border border-(--color-gray)/20 items-center px-3 py-2">
                    <svg lucideSearch size="16" color="var(--color-gray)"></svg>
                    <input type="search" name="" id="" class="text-sm outline-none flex-1" placeholder="Search by name"
                        [value]="searchQuery()" (input)="onSearch($event)">
                    @if (searchQuery().length > 0) {
                    <button type="reset" class="cursor-pointer" (click)="onReset()">
                        <svg lucideX size="16" color="var(--color-gray)"></svg>
                    </button>
                    }
                </div>
            </div>
            <div class="relative">
                <button class="text-(--color-gray)/80">See All</button>
            </div>
        </div>
        <div class="perspective-distant flex gap-5 overflow-x-scroll no-scrollbar drag-scroll"
            (wheel)="onWheel($event)">
            @for (film of films(); track $index) {
            <app-film [film]="film" class="film-card"></app-film>
            }
        </div>

        <h4 class="w-fit font-bold text-xl">Top Rated</h4>
        <div class="perspective-distant flex gap-5 overflow-x-scroll no-scrollbar drag-scroll"
            (wheel)="onWheel($event)">
            @for (film of films(); track $index) {
            <app-film [film]="film" class="film-card"></app-film>
            }
        </div>
    </section>
</div>