@if (loading()) {
  @if (hideFilmDetails()) {
    <div class="select-none pointer-events-none flex flex-col gap-2 w-full aspect-2/3 h-full">
      <app-skeleton class="w-full flex-1 rounded-sm!"></app-skeleton>
    </div>
  } @else {
    <div class="select-none pointer-events-none flex flex-col gap-2 w-full aspect-2/3 h-full">
      <app-skeleton class="w-full flex-1 rounded-sm!"></app-skeleton>
      <div class="flex flex-col gap-1 w-full">
        <app-skeleton class="w-full h-5 rounded!"></app-skeleton>
        <div class="flex items-center justify-between w-full">
          <app-skeleton class="w-[30%] h-5 rounded!"></app-skeleton>
          <app-skeleton class="w-[15%] h-5 rounded!"></app-skeleton>
        </div>
      </div>
    </div>
  }
} @else if (film()) {
  <div class="cursor-pointer flex flex-col gap-1 sm:gap-[0.5vh] h-fit">
    <div
      class="w-full aspect-2/3 rounded-sm overflow-hidden bg-(--color-gray-dark) border border-(--color-gray)/20"
    >
      @if (film()!.poster_path) {
        <img
          [src]="film()!.poster_path | tmdbImage: 'w500'"
          [alt]="film()!.title"
          class="w-full h-full object-cover transition-opacity duration-200"
          [class.opacity-0]="!posterLoaded()"
          [class.opacity-100]="posterLoaded()"
          (load)="onImageLoad()"
          draggable="false"
          [attr.loading]="isPriority() ? 'eager' : 'lazy'"
        />
      } @else {
        <div class="w-full h-full bg-(--color-gray-dark) flex items-center justify-center">
          <svg lucideImage size="32" class="text-(--color-gray) brightness-60"></svg>
        </div>
      }
    </div>
    @if (!hideFilmDetails()) {
      <div class="flex flex-col text-wrapper">
        <p class="font-semibold truncate text-[clamp(0.7rem,1vw,1.2rem)]">
          {{ film()!.title }}
        </p>
        <div class="flex items-center justify-between">
          <p class="text-[clamp(0.6rem,0.8vw,1rem)] text-(--color-gray)">
            {{ film()!.release_date | date: 'yyyy' }}
          </p>
          <div class="flex gap-0.5 sm:gap-1 items-center">
            <span class="hidden sm:block shrink-0 min-w-0">
              <svg lucideStar size="16" fill="#ffc300" color="#ffc300"></svg>
            </span>
            <span class="block sm:hidden shrink-0 min-w-0">
              <svg lucideStar size="13" fill="#ffc300" color="#ffc300"></svg>
            </span>
            <span class="text-[clamp(0.7rem,0.85vw,1rem)]">
              {{ film()!.vote_average | number: '1.0-1' }}
            </span>
          </div>
        </div>
      </div>
    }
  </div>
}
