@if (loading()) {
  @if (hideFilmDetails()) {
    <div class="select-none pointer-events-none flex flex-col gap-2 w-full aspect-2/3 h-full">
      <app-skeleton class="w-full flex-1 rounded-sm!"></app-skeleton>
    </div>
  } @else {
    <div class="select-none pointer-events-none flex flex-col gap-2 w-full aspect-2/3 h-full">
      <app-skeleton class="w-full flex-1 rounded-sm!"></app-skeleton>
      <div class="flex flex-col gap-1 w-full">
        <app-skeleton class="w-full h-5 rounded!"></app-skeleton>
        <div class="flex items-center justify-between w-full">
          <app-skeleton class="w-[30%] h-5 rounded!"></app-skeleton>
          <app-skeleton class="w-[15%] h-5 rounded!"></app-skeleton>
        </div>
      </div>
    </div>
  }
} @else if (film()) {
  <div
    class="cursor-pointer flex flex-col h-full bg-(--color-background) rounded-sm border border-(--color-gray-dark) hover:border-(--color-border-hover) overflow-hidden"
  >
    <div class="w-full flex-1 min-h-0 bg-(--color-gray-dark) relative">
      @if (film()!.poster_path) {
        <img
          [src]="imageUrl()"
          [alt]="film()!.title"
          class="w-full h-full object-cover object- transition-opacity duration-200"
          [class.opacity-0]="!posterLoaded()"
          [class.opacity-100]="posterLoaded()"
          (load)="onImageLoad()"
          draggable="false"
          [attr.loading]="isPriority() ? 'eager' : 'lazy'"
        />
      } @else {
        <div class="w-full h-full bg-(--color-gray-dark) flex items-center justify-center">
          <svg lucideImage size="32" class="text-(--color-gray) brightness-60"></svg>
        </div>
      }

      <!-- still testing -->
      <div
        class="absolute inset-0 bg-linear-to-t from-(--color-background) from-0% via-transparent via-40% to-transparent pointer-events-none"
        [class.hidden]="hideFilmDetails()"
      ></div>
    </div>
    @if (!hideFilmDetails()) {
      <div class="flex flex-col text-wrapper gap-0 sm:gap-0.5 px-2 sm:px-3 pb-2 sm:pb-3">
        <p class="truncate font-bold text-[clamp(0.7rem,1vw,1.2rem)] select-none">
          {{ film()!.title }}
        </p>
        <div class="flex items-center justify-between">
          <p class="text-[clamp(0.6rem,0.8vw,1rem)] text-(--color-gray) select-none font-light">
            {{ film()!.release_date | date: 'yyyy' }}
          </p>
          <div class="flex gap-0.5 sm:gap-1 items-center">
            <div class="hidden sm:flex items-center shrink-0">
              <svg lucideStar size="15" fill="#ffc300" color="#ffc300"></svg>
            </div>
            <div class="flex sm:hidden items-center shrink-0">
              <svg lucideStar size="12" fill="#ffc300" color="#ffc300"></svg>
            </div>
            <span class="text-[clamp(0.7rem,0.85vw,1rem)] font-semibold leading-none select-none">
              {{ film()!.vote_average | number: '1.0-1' }}
            </span>
          </div>
        </div>
      </div>
    }
  </div>
}
