<div
  class="flex flex-col relative top-20 h-[calc(100dvh-5rem)] sm:h-[calc(100vh-5rem)] overflow-hidden"
>
  <div
    class="flex-1 flex flex-col items-center justify-center relative px-4 sm:px-0 py-5"
  >
    <div
      class="absolute inset-0 bg-cover bg-center pointer-events-none blur-md scale-105"
      [class.transition-opacity]="shouldAnimateBackdrop() || !isFirstLoad()"
      [class.duration-1000]="shouldAnimateBackdrop() || !isFirstLoad()"
      [class.ease-in-out]="shouldAnimateBackdrop() || !isFirstLoad()"
      [style.backgroundImage]="'url(' + bgImageA() + ')'"
      [class.opacity-20]="!showCover() && isLayerAActive()"
      [class.opacity-0]="showCover() || !isLayerAActive()"
    >
    </div>

    <div
      class="absolute inset-0 bg-cover bg-center pointer-events-none blur-md scale-105"
      [class.transition-opacity]="shouldAnimateBackdrop() || !isFirstLoad()"
      [class.duration-1000]="shouldAnimateBackdrop() || !isFirstLoad()"
      [class.ease-in-out]="shouldAnimateBackdrop() || !isFirstLoad()"
      [style.backgroundImage]="'url(' + bgImageB() + ')'"
      [class.opacity-20]="!showCover() && !isLayerAActive()"
      [class.opacity-0]="showCover() || isLayerAActive()"
    >
    </div>

    <!-- <div
            class="absolute inset-0 bg-linear-to-t from-(--color-background) via-(--color-background)/1 to-transparent pointer-events-none"
        >
        </div> -->

    <div
      class="absolute inset-0 bg-linear-to-b from-(--color-background) via-(--color-background)/10 to-transparent pointer-events-none"
    >
    </div>

    <div
      class="grid grid-cols-1 lg:grid-cols-3 w-full p-0 sm:px-[5vw] sm:py-4 relative z-1 gap-[4vw] md:gap-[3vw] lg:gap-[5vw] h-full"
    >
      <div class="flex-col gap-5 hidden lg:flex">
        <app-card title="Cast">
          <ul class="flex flex-col gap-2">
            @if (activeFilm() && activeFilm().cast_names && !showCover()) { @for
            (castMember of activeFilm()!.cast_names!; track castMember) {
            <app-person-item
              [name]="castMember"
            ></app-person-item>
            } } @else {
            <p class="text-sm text-(--color-gray) select-none">
              No cast info available
            </p>
            }
          </ul>
        </app-card>
        <app-card title="Direction">
          @if (activeFilm() && activeFilm().director_name && !showCover()) {
          <app-person-item
            [name]="activeFilm()!.director_name!"
          ></app-person-item>
          } @else {
          <p class="text-sm text-(--color-gray) select-none">
            No director info available
          </p>
          }
        </app-card>
        <app-card title="Where To Watch"></app-card>
      </div>

      <div
        class="relative w-full flex-1 sm:flex-none max-w-[500px] mx-auto"
      >
        @for (film of visibleFilms(); track film.id; let idx = $index; let last
        = $last) {
        <app-swipe-card
          [film]="film"
          [genres]="genres()"
          [isTop]="last"
          (click)="onFilmClick(film.id)"
          [showBg]="last && currentIndex() === allFilms().length - 1"
          (swiped)="onSwiped($event, film)"
          class="absolute top-0 w-full h-full transition-all duration-300 ease-out min-h-0 lg:h-[83%]"
          [class.pointer-events-none]="!last"
          [class.hidden]="showCover() && !last"
          [style.z-index]="idx + 1"
          [style.transform-origin]="'center top'"
          [style.transform]="getCardTransform(idx, visibleFilms().length)"
          [style.filter]="getCardFilter(idx, visibleFilms().length)"
        >
        </app-swipe-card>
        } @if (showCover()) {
        <app-swipe-card
          [isCover]="true"
          class="absolute top-0 left-0 w-full h-full z-10 lg:h-[83%]"
          [style.transform-origin]="'center top'"
          [style.transform]="'translate(0px, 0px) scale(1.005)'"
          (swiped)="onCoverSwiped()"
        ></app-swipe-card>
        }
        <div
          class="absolute bottom-0 w-full h-[15%] items-center justify-center gap-5 hidden lg:flex"
        >
          <div
            (click)="swipe('left')"
            class="cursor-pointer relative flex justify-center items-center h-[70%] rounded-full aspect-square bg-(--color-background-light) border border-(--color-gray)/30"
          >
            <div
              class="absolute bg-(--color-wine-red) aspect-square w-8 rounded-full flex justify-center items-center top-[-5px] right-[-5px]"
            >
              <p class="text-md font-bold">A</p>
            </div>
            <svg lucideThumbsDown size="25"></svg>
          </div>
          <div
            (click)="!showCover() && activeFilm() && onFilmClick(activeFilm()!.id)"
            class="cursor-pointer relative flex justify-center items-center h-[70%] rounded-full aspect-square bg-(--color-background-light) border border-(--color-gray)/30"
          >
            <div
              class="absolute bg-(--color-wine-red) aspect-square w-8 rounded-full flex justify-center items-center top-[-5px] right-[-5px]"
            >
              <p class="text-md font-bold">S</p>
            </div>
            <svg
              lucideEye
              size="25"
              class="text-(--color-text) transition-colors duration-200 group-hover:text-(--color-text)/80"
            >
            </svg>
          </div>

          <div
            (click)="swipe('right')"
            class="cursor-pointer relative flex justify-center items-center h-[70%] rounded-full aspect-square bg-(--color-background-light) border border-(--color-gray)/30"
          >
            <div
              class="absolute bg-(--color-wine-red) aspect-square w-8 rounded-full flex justify-center items-center top-[-5px] right-[-5px]"
            >
              <p class="text-md font-bold">D</p>
            </div>
            <svg lucideThumbsUp size="25"></svg>
          </div>
        </div>
      </div>

      <div class="flex-col gap-5 hidden lg:flex">
        <app-card title="Recent Swipes"></app-card>
      </div>
    </div>
  </div>
  <app-header-mobile class="relative sm:hidden shrink-0"></app-header-mobile>
</div>
