<div
    #scrollWrapper
    class="overflow-y-auto h-full custom-scrollbar overscroll-contain pr-2"
    data-lenis-prevent
>
    <div
        class="sm:flex flex-wrap grid grid-cols-3 sm:justify-start justify-center sm:gap-x-3 sm:gap-y-6 gap-x-2 gap-y-2 pb-5"
    >
        @if (films().length === 0 && loading()) { @for (item of [1, 2, 3, 4];
        track $index) {
        <app-film [loading]="true"></app-film>
        } } @for (film of films(); track film.id; let idx = $index) {
        <app-film
            [film]="film"
            [isPriority]="idx < 6"
            [hideFilmDetails]="hideFilmDetails()"
            (click)="onFilmClick(film)"
            class="film-card grow basis-[80px] sm:basis-[180px] sm:max-w-[250px]"
        ></app-film>
        } @if (hasMore()) {
        <div
            #sentinel
            id="vertical-infinite-sentinel"
            class="col-span-full w-full h-10 flex justify-center items-center"
        >
            @if (loading()) {
            <app-film [loading]="true"></app-film>
            }
        </div>
        }
    </div>
</div>
