@import 'tailwindcss';

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato/Lato-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@theme {
    --font-sans: 'Lato', sans-serif;
}

.film-card {
    display: block;
    flex-shrink: 0;
}

@layer components {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
        /* Safari y Chrome */
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE y Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

:root {
    --color-background: #0e0e0e;
    --color-background-light: #181818;
    --color-text: #ffffff;
    --color-gray: #989595;
    --color-gray-dark: #222222;

    --color-wine-red: #893168;
    --color-wine-dark: #581f42;
}

body {
    font-family: var(--font-sans);
    color: var(--color-text);
}

h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: bold;
}

h2 {
    font-size: clamp(1.2rem, 2vw, 1.2rem);
    font-weight: 400;
}

button {
    cursor: pointer;
}

.container-padding {
    padding: 0 5vw;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(152, 149, 149, 0.3);
    border-radius: 4px;
    background-color: var(--color-background-light);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked {
    background-color: var(--color-wine-red);
    border-color: transparent;
}

input[type="checkbox"]:checked::after {
    content: "✓";
    color: white;
    font-size: 15px;
}

label {
    cursor: pointer;
    user-select: none;
}