<app-header></app-header>
<main class="w-full min-h-screen bg-(--color-background)">
    <app-separator class="relative top-25"></app-separator>
    <div class="flex flex-col gap-10 justify-center items-center h-[calc(100vh-6.5rem)] relative p-5">
        <div
            class="flex flex-col gap-4 w-[500px] border border-(--color-gray)/20 p-10 rounded-md bg-(--color-background)">
            <div class="flex flex-col items-center">
                <img src="/assets/svgs/logo.svg" alt="logo" class="w-20">
                <h3 class="text-3xl font-bold">{{ title() }}</h3>
            </div>

            <ng-content></ng-content>
        </div>
    </div>
</main>