@if (step() === 2) {
  <button
    [class.opacity-100]="step() === 2"
    type="button"
    (click)="goToStep1()"
    class="opacity-0 transition-opacity duration-600 absolute top-10 left-8 text-white flex items-center cursor-pointer rounded-full p-1.5 hover:bg-(--color-gray-dark)"
  >
    <svg lucideChevronLeft size="32"></svg>
  </button>
}
<form [formRoot]="registerForm" class="flex flex-col gap-4 w-full">
  @if (step() === 1) {
    <div class="flex flex-col gap-4 w-full animate-fade-in-left">
      <div class="flex flex-col gap-2">
        <label for="email" class="text-sm">Enter your email</label>
        <input
          id="email"
          type="email"
          [formField]="registerForm.email"
          (keydown.enter)="$event.preventDefault(); goToStep2()"
          class="bg-(--color-background-light) border border-(--color-gray-dark) py-2 rounded-sm px-3 focus:border-(--color-wine-red) focus:outline-none transition-colors duration-200"
        />
        @if (registerForm.email().touched() && registerForm.email().invalid()) {
          <span class="text-xs text-(--color-error)">{{
            registerForm.email().errors()[0]?.message
          }}</span>
        }
      </div>
      <div class="flex flex-col gap-2">
        <label for="username" class="text-sm">Choose a username</label>
        <input
          id="username"
          type="username"
          [formField]="registerForm.username"
          (keydown.enter)="$event.preventDefault(); goToStep2()"
          class="bg-(--color-background-light) border border-(--color-gray-dark) py-2 rounded-sm px-3 focus:border-(--color-wine-red) focus:outline-none transition-colors duration-200"
        />
        @if (registerForm.username().touched() && registerForm.username().invalid()) {
          <span class="text-xs text-(--color-error)">{{
            registerForm.username().errors()[0]?.message
          }}</span>
        }
      </div>
      <div class="h-10">
        <app-button type="button" label="Continue" size="w-full" (click)="goToStep2()"></app-button>
      </div>
    </div>
  } @else {
    <div class="flex flex-col gap-4 w-full animate-fade-in-right">
      <div class="flex flex-col gap-2">
        <div class="flex justify-between items-center">
          <label for="password" class="text-sm">Password</label>
          <div
            class="flex gap-1 items-center transition-opacity duration-200"
            [class.opacity-0]="!capsLockOn()"
          >
            <p class="text-xs text-(--color-wine-red)">Caps are locked</p>
            <svg lucideLock size="14" class="text-(--color-wine-red)"></svg>
          </div>
        </div>
        <input
          id="password"
          type="password"
          [formField]="registerForm.password"
          autocomplete="new-password"
          (input)="hideStep2Errors.set(false)"
          class="bg-(--color-background-light) border border-(--color-gray-dark) py-2 rounded-sm px-3 focus:border-(--color-wine-red) focus:outline-none transition-colors duration-200"
        />
        @if (
          !hideStep2Errors() &&
          registerForm.password().touched() &&
          registerForm.password().invalid()
        ) {
          <span class="text-xs text-(--color-error)">{{
            registerForm.password().errors()[0]?.message
          }}</span>
        }
      </div>
      <div class="flex flex-col gap-2">
        <label for="confirmPassword" class="text-sm">Confirm password</label>
        <input
          id="confirmPassword"
          type="password"
          [formField]="registerForm.confirmPassword"
          autocomplete="new-password"
          (input)="hideStep2Errors.set(false)"
          class="bg-(--color-background-light) border border-(--color-gray-dark) py-2 rounded-sm px-3 focus:border-(--color-wine-red) focus:outline-none transition-colors duration-200"
        />
        @if (
          !hideStep2Errors() &&
          registerForm.confirmPassword().touched() &&
          registerForm.confirmPassword().invalid()
        ) {
          <span class="text-xs text-(--color-error)">{{
            registerForm.confirmPassword().errors()[0]?.message
          }}</span>
        }
      </div>
      @if (registerError()) {
        <span class="text-xs text-(--color-error) text-center">{{ registerError() }}</span>
      }

      <div class="h-10">
        <app-button
          label="Continue"
          size="w-full"
          [disabled]="
            registerForm().invalid() ||
            !registerModel().password ||
            !registerModel().confirmPassword
          "
        ></app-button>
      </div>
    </div>
  }
</form>

<div class="text-sm text-center text-(--color-gray) my-2 flex gap-1 justify-center">
  <p>Already have an account?</p>
  <a
    routerLink="/auth/login"
    class="text-(--color-wine-red) hover:underline font-semibold cursor-pointer"
    >Log In</a
  >
</div>

<div class="flex items-center gap-1.5 w-full justify-center pt-5">
  <div
    (click)="goToStep1()"
    [class.bg-(--color-wine-red)]="step() === 1"
    [class.bg-(--color-background-light)]="step() !== 1"
    class="w-3 rounded-full aspect-square flex border border-(--color-gray-dark) transition-all duration-200 cursor-pointer"
  ></div>
  <div
    (click)="goToStep2()"
    [class.bg-(--color-wine-red)]="step() === 2"
    [class.bg-(--color-background-light)]="step() !== 2"
    class="w-3 rounded-full aspect-square flex border border-(--color-gray-dark) transition-all duration-200 cursor-pointer"
  ></div>
</div>
